@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Margarine&family=Sedgwick+Ave&family=Shadows+Into+Light&family=Do+Hyeon&family=Gaegu&family=Gowun+Dodum&family=Hi+Melody&display=swap');

html{
    background-color: rgb(220, 210, 135);
}

.App{
    text-align: center;
    position: relative;
    top: 300px;
    background-color: inherit;
}

.title{
    text-align: center;
    color: rgba(255, 255, 255, 0.801);
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    /* font-family: "Sedgwick Ave", cursive;
    font-weight: 400;
    font-style: normal; */
}

.inputBox{
    border-width: 0 0 1px;
    margin-right: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);

    font-family: "Gowun Dodum", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 300px;
    font-size: 40px;
}

.inputBox:focus{
    outline: none;
}

button{
    border-radius: 5px;
    border-color: rgb(219, 192, 56);
    background-color: rgba(255, 255, 255, 0.433);
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.guide{
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

.gameCount{
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}
